.nav{
    width: 100%;
}
img{
  width: 90px;
  height: 80px;
}
.Alt-logo{
    width: 60px;
    height: 60px;
}
.brand{
  font-size: 40px;
  text-align:left;
  font-weight: bolder;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.roberto{
   width: 100%;
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   list-style-type: none;
   justify-content: space-around;
   padding: 0px;
   background-color: #52cccc;
   height: 70px;
}
.carlos{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  list-style-type: none;
  justify-content: space-around;
  font-weight: bold;
  
}
  
.ActiveOption{
  text-decoration: none;
  border-radius: 20;
  margin: 0 50px;
  width: auto;
  padding: 12px;
  background: #3b52d4;
  font-size: 16px;
  border-radius: 3px;
  flex:none;
  display: flex;
  order: 1;
  align-self: center;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  text-align: ;
  color:blue;
  border:none;
  cursor: pointer;
  outline: inherit;
}
#btnback{
  width: 60px;
  height: 60px;
}

#btncar{
  width: 60px;
  height: 60px;
  color:black;
  
}